<a href="https://colab.research.google.com/github/YouMK-1/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

대상 리스트의 부분 리스트를 생성 or 수정
---
**문법형식**

리스트이름[시작 인덱스:끝 인덱스:간격]

**코드 작성 시 유의사항**

0부터 끝 인덱스 전까지만 출력, 끝 인덱스는 결과에 포함되지 않으니 잘 생각해서 생성

###응용 예시01 - 기본

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력
first_four = numbers[0 : 4]
print(first_four) #[10, 20, 30, 40]
# 뒤 3개의 원소를 출력
last_three = numbers[-3 : ]
last_three = numbers[-3 : 7]
#7 생략해도 동일한 결과
print(last_three) #

[10, 20, 30, 40]
[50, 60, 70]

###응용 예시02 - 음수

순환적 구조로 반대부터 생각해서 계산하기

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]
subset1 = numbers[-3 : ]
print(subset2) #[50, 60, 70]
# 0-6까지의 인덱스가 있는데 순환적 구조로 반대부터 -1부터 -7이라고 생각하기(즉, 음수라서 0이 아닌 -1부터 시작)

In [3]:
numbers = [10, 20, 30, 40, 50, 60, 70]
list2 = numbers[-1 : -4 : -1]
print(list2) #[70, 60, 50]

[70, 60, 50]

###응용 예시03 - 리스트 슬라이싱 간격 [시작:끝:간격]

In [2]:
numbers = [10, 20, 30, 40, 50, 60, 70]
list1 = numbers[ : : 2]
print(list1) #출력결과 [10, 30, 50, 70]
list2 = numbers[ : : -1]
print(list2) #출력결과 [70, 60, 50, 40, 30, 20, 10]

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력
every_other_list = numbers[ : : 2]
#시작:끝:간격
print(every_other_list) #[10, 30, 50. 70]

# 짝수번째 항목 출력
every_other_list2 = numbers[1 : : 2]
print(every_other_list2) #[20, 40, 60]

# 역순 출력
reverse_list = numbers[ : : -1]
print(reverse_list)  #[70, 60,50,40,30,20,10]

[10, 30, 50, 70]
[20, 40, 60]
[70, 60, 50, 40, 30, 20, 10]

### 응용 예시04 -  리스트 슬라이싱 2차원 표형태

In [ ]:
#2차원 표형태
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력 [1-8까지]
first_two_rows = matrix[0:2]
# 2개의 행, 리스트 안 각 숫자가 아닌 행 출력
print(first_two_rows)

# 첫 두 열 출력
# 접근 방법: 행을 먼저 가져오고 안에 행 가져오기
# 즉, 반복문 컴프리헨션 필요
first_two_columns = [row[0:2] for row in matrix]
print(first_two_columns)

# 첫 1열 출력
first_one_columns = [row[:1] for row in matrix]
print(first_one_columns)

#첫 3열 출력
first_thr_columns = [row[:3] for row in matrix]
print(first_thr_columns)

# 코드 해석
# for row in matrix → matrix에서 행을 하나씩 꺼내
# row[:n] → 그 행의 처음 n개만 가져와
# [ ... ] → 그걸 새로운 리스트로 만들어

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]
[[1], [5], [9], [13]]
[[1, 2, 3], [5, 6, 7], [9, 10, 11], [13, 14, 15]]

## 2-2 리스트 컴프리헨션
반복가능한 객체: 리스트, 튜플, 딕셔너리, 문자열, 집합, range 객체

**문법형식1**

[표현식 for 변수 in 반복가능한 객체]

**문법형식2**

[표현식 for 변수 in 반복가능한 객체 if 조건]

###응용 예시01

In [7]:
#리스트 생성 #반복문
numbers1 = []
for i in range(5):
  numbers1.append(i)
print(numbers1) #[0,1,2,3,4]
#리스트 컴프리헨션 응용
numbers2 = [i for i in range(5)]
print(numbers2) #[0,1,2,3,4]

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [10]:
numbers1 = [ ]
# 0 ~ 4 포함 리스트 생성
# 2개의 식 전부 사용 가능
# 반복문 사용식
numbers1 = [num for num in range(5)]

numbers2 = [ ]
for i in range(5):
    numbers2.append(i)
# range(5)는 0, 1, 2, 3, 4를 만들어요 (0부터 5 전까지)
# i에 이 숫자들이 하나씩 들어가요
#append()는 리스트 끝에 요소를 추가하는 함수예요
# i 값을 numbers 리스트에 넣어요
print(numbers1)
print(numbers2)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

###응용 예시02 - 리스트 컴프리헨션 원소 조작

In [11]:
#0부터 4까지의 숫자를 각각 제곱해서 리스트에 담고 싶다면,
#0*0, 1*1, 2*2, 3*3, 4*4
squared_numbers = [i * i for i in range(5)]
print(squared_numbers) #[0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [12]:
numbers = [1, 2, 3, 4, 5]
squares = [num ** 2 for num in numbers]
print(squares) #[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [14]:
numbers = [1, 2, 3, 4, 5]
squares1= [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
#2개의 식 활용 가능
#식1
for num in numbers:
  squares1.append(num ** 2)

#식2
squares2= [ ]
squares2 = [num ** 2 for num in numbers]

print(squares1)
print(squares2)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

###응용 예시03 - 리스트 컴프리헨션 나머지 연산자 활용

- `num % 2 == 0` → 짝수
- `num % 2 == 1` → 홀수
- `num % 3 == 0` → 3의 배수
- `num % 5 == 0` → 5의 배수

In [15]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [num for num in numbers
if num % 2 == 0]
print(even_numbers) #[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [17]:
numbers1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers1 = [ ]
even_numbers2 = [ ]
# 짝수만 추출한 리스트
# 식1: 반복문 사용
#numbers에서 숫자를 하나씩 꺼내서 num에 넣어요
# 조건이 참(짝수)일 때만   even_numbers 리스트에 추가해요
for num in numbers1:
    if num % 2 == 0:
        even_numbers1.append(num)
print(even_numbers1) #[2, 4, 6, 8, 10]

#식2: 리스트 컴프리헨션
even_numbers2 = [num for num in numbers if num % 2 == 0]
print(even_numbers2)
# 코드해석
# Step 1: for num in numbers
#  "numbers 리스트에서 num을 하나씩 꺼내"

# Step 2: if num % 2 == 0
#  "만약 num을 2로 나눈 나머지가 0이면 (짝수면)"

# Step 3: num
#  "그 num을 결과에 포함시켜"

# Step 4: [...]
#  "모든 결과를 리스트로 만들어"

# Step 5: even_numbers =
#  "그 리스트를 even_numbers에 저장해"

[2, 4]
[2, 4, 6, 8, 10]

In [ ]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되는 모든 원소를 조합한 투플의 리스트 생성
# for fruit in list1:
#     for product in list2:
#         pairs.append((fruit, product))

pairs = [(fruit, product) for fruit in list1 for product in list2 ]
# 코드 해석
# for fruit in list1 → list1에서 fruit를 하나씩 꺼내 (외부 루프)
# for product in list2 → 각 fruit마다 list2의 모든 product와 조합 (내부 루프)
# (fruit, product) → 튜플로 만들어
# [...] → 모든 조합을 리스트에 담아

print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

In [ ]:
squares = { }

# 딕셔너리 생성 # 키와 값의 쌍
# 식1
# for i in range(5):
#     squares[i] = i ** 2

# 식2
squares = {i : i  ** 2 for i in range(5) }
#코드 해석
#for i in range(5) → 0, 1, 2, 3, 4를 하나씩 꺼내
# i → 키로 사용
# i ** 2 → 값으로 사용 (i의 제곱)
# {...} → 딕셔너리로 만들어

#키 0의 제곱은 0
# 키 1의 제곱은 1
# 키 2의 제곱은 4
# 키 3의 제곱은 9
# 키 4의 제곱은 16

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [2]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트 #식1
large_cities = {city: pop for city, pop in city_population.items() if pop >= 200}
print(large_cities)
# 코드해석
# city_population.items() → 원본 딕셔너리에서 (도시명, 인구) 쌍을 꺼내
# for city, pop in ... → 각 쌍을 city와 pop 변수로 분리
# if pop >= 200 → 인구가 200 이상인 것만 필터링
# city: pop → 조건을 통과한 것들을 키-값으로 저장
# {...} → 새 딕셔너리로 만들어

# items() 메서드는 딕셔너리의 모든 키-값 쌍을 튜플로 반환 결과: [('서울', 957), ('부산', 339), ...]

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트 #식2
large_short_name_cities = {city: pop for city, pop in city_population.items() if pop >= 300 and '산' in city}
print(large_short_name_cities)
# 코드해석

{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}

### 코드 해석

**식1 코드 해석**
*   city_population.items() → 원본 딕셔너리에서 (도시명, 인구) 쌍을 꺼내
*   for city, pop in ... → 각 쌍을 city와 pop 변수로 분리
*   if pop >= 300 and '산' in city → 인구가 300이상이며 산이라는 단어가 포함된 것만 필터링
*   city: pop → 조건을 통과한 것들을 키-값으로 저장
*  {...} → 새 딕셔너리로 만들어


---

**식2 코드 해석**

**언패킹이란  **
"묶여있는 것을 풀어서 여러 변수에 나눠 담는 것", for 변수 in 반복가능한것:

언패킹 예시
*   items = [('a', 1), ('b', 2)]
언패킹
*   for letter, number in items: print(letter, number)  # a 1, b 2

## 2-3 문자열 형식화

### C 스타일 문자열 포매팅

In [5]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# 이름, 나이, 월급 출력
basic_format = '이름: %s, 나이: %f, 월급: %d원' % (name, age, salary)
# 직원이름, 나이, 세후 월급 출력


# 직원이름, 나이, 월급, 세금, 실수령액 추력


print(basic_format)

이름: 홍길동, 나이: 30, 월급: 3500000원

### str.format 문자열 포매팅

In [ ]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# 인덱스 지정자도 가능 {0}, {1} 이런식으로 인덱스를 지정할 때 장점은 변수가 중복될 때 헷갈리지 않아도 됌
basic_format = '이름: {}, 나이: {}, 월급: {}원'.format(name, age, salary)
# 이름, 나이, 월급 출력

# 직원이름, 나이, 세후 월급 출력

# 직원이름, 나이, 월급, 세금, 실수령액 추력


print(basic_format)

### f-문자열 포매팅

In [16]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# 이름, 나이, 월급 출력
basic_format =  f'이름:  {name}, 나이: {age}, 월급: {salary}원'
basic_format2 =  f'이름:  {name}, 나이: {age}, 월급: {salary:,}원'
# 직원이름, 나이, 세후 월급 출력

# 직원이름, 나이, 월급, 세금, 실수령액 추력

print(basic_format)
print(basic_format2)

이름:  홍길동, 나이: 30, 월급: 3500000원
이름:  홍길동, 나이: 30, 월급: 3,500,000원

###f-문자열 포매팅의 다양한 활용법

In [ ]:
#1) 기본 사용법
name = '홍길동'
age = 30

result = f'이름: {name}, 나이: {age}'
print(result) # 이름: 홍길동, 나이: 30

---
#2) 계산식 포함
salary = 3500000
tax_rate = 0.1

result = f'세금: {salary * tax_rate}원'
print(result) # 세금: 350000.0원
---
#3) 천 단위 콜마 표시
salary = 3500000

result = f'월급: {salary:,}원'
print(result) # 월급: 3,500,000원

## 2-4 컨텍스트 관리

In [18]:
# 파일 오픈 & 클로즈
with open('output.txt', 'w')as file_write:
    file_write.write('Hello, world!\n')

#클로즈 코드를 쓰지 않아도 되는 코드
#리스트, 딕셔너리를 만들 때 만들어놓고 사용할 변수를 만들어주면, 해당되는 객체 활용을 끝나고 나서 반환해주어
# 메모리 절약

In [ ]:
# 복수개의 파일(읽기 & 쓰기) 관리

In [ ]:
import urllib.request

# URL 연결 관리
('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv')
    data = response.read( ).decode('utf-8')

print(data)